#box{
    height: 250px;
    width: 100px;
    background-color: aqua;
    border: 2px solid black;
}


.class1{
    color: blue;
}

/* .anotherclass{
    color: black;
} */
/* last er excercise-2 check kore dekhlam */

